<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sada.mapper.ReplyMapper">

	<!-- 댓글등록 -->
	<insert id="enrollReply">

		insert into sada_reply(productId, memberId, content, rating)
		values(#{productId}, #{memberId}, #{content}, #{rating})

	</insert>


	<!-- 댓글 페이징 -->
	<select id="getReplyList" resultType="com.sada.model.ReplyDTO">

		select replyId, productId, memberId, content, rating, regDate,replyFlt
		from sada_reply
		where productId = #{productId}
		order by regDate desc
		limit #{skip}, #{amount}

	</select>

	<select id="getReplyTotal" resultType="int">

		select count(*)
		from sada_reply
		where productId = #{productId}

	</select>

	<!-- 댓글수정 -->
	<update id="updateReply">

		update sada_reply set content = #{content}, rating = #{rating}
		where replyId = #{replyId}

	</update>

	<select id="getUpdateReply" resultType="com.sada.model.ReplyDTO">

		select * from sada_reply
		where replyId = #{replyId}

	</select>


	<!-- 댓글 삭제 -->
	<delete id="deleteReply">

		DELETE FROM sada_reply
		WHERE replyId = #{replyId}

	</delete>

	<select id="getReplyFindAll"
		resultType="com.sada.model.ReplyDTO">
		select * from sada_reply;
	</select>

	<update id="updateFilterOn">
		update sada_reply set replyFlt = #{replyFlt}
		where replyId = #{replyId}
	</update>

	<select id="findByReviewOneMinute"
		resultType="com.sada.model.ReplyDTO">
      <![CDATA[
      SELECT * from sada_reply
      where timestampdiff(second,regDate,now()) < 60 ]]>
	</select>

	<update id="updateFilterOff">
		update sada_reply set replyFlt = 0
		where replyId = #{replyId}
	</update>


</mapper>